@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
  font-family: 'GenKiMin-R';
  src: url('../fonts/GenKiMin2PJP-R.otf') format("truetype");
}


:root{

    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --mitsui-blue: #005396;
    --deck-blue: #083050;
    --m2-blue: #005396;
    --m3-blue: #0967b4;
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --mitsui-red: #EB4343;
    --mitsui-red2: #FF0707;
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);
    --brown: #D7C5AE;
    --dreck-gray: #F9F9F9;
    --search-blue: #F2F6FA;
    --beige: #FFE9CD;
    --grayblue: #637787;

    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: .938rem;
    --fs-7: .875rem;
    --fs-8: .813rem;
    --fs-9: .75rem;
    --fs-10: .688rem;
    --fs-11: .625rem;

    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;

    --border-radius-medium: 10px;
    --border-radius-small: 5px;

    --transition-timing: .2s ease;
}

p,
h2,
h3,
h4,
h5,
li,
section,
header{
  font-family: 'GenKiMin-R';
  letter-spacing: 1px;
}


/*頁頭標籤 */
.breadcrumb-wrapper {
  padding: 20px 0 5px;
  font-size: 14px;
}

.breadcrumb-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-weight: 400;
}

.breadcrumb-item a {
  color: #000; 
  text-decoration: none;
}

.breadcrumb-item a:hover {
  color: var(--m2-blue);
  text-decoration: none;
}

/* 箭頭 */
.breadcrumb-item:not(:last-child)::after {
  content: "\f105"; 
  font-family: 'FontAwesome';
  font-size: 12px;
  color: #999;
  margin: 0 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* 最後一個文字顏色 */
.breadcrumb-item.current {
  color: var(--m2-blue);
  font-weight: 500;
}


/* 行程介紹開始 */
.dl-title {
  padding: 50px 0 10px;
  text-align: center;
} 

.dl-title h2 {
  color: var(--eerie-black);
  font-weight: 500;
}

/* 下載 */
.m-cms-heading-type2__heading {
  font-size: 1.625rem;
  line-height: 1.2;
  margin-bottom: 0.5em;
  font-weight: 500;

  letter-spacing: 0.1rem;
}

.m-cms-heading-type3__heading {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.m-cms-layout-content__item h3:nth-of-type(1) {
    margin-bottom: 2em; 
}

.m-cms-layout-content__item h3:nth-of-type(2) {
    margin: 2em 0; 
}

/* ===============================
   Download Link
================================ */
.m-download-link {
  list-style: none;
  padding-left: 0;
  margin: 0 0 1em 0;
}

.m-download-link__item {
  margin-bottom: 0.5em;
}

.m-download-link__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px 12px 0;
  border-bottom:1px solid var(--spanish-gray) ;
  color: var(--eerie-black);
  text-decoration: none;
  position: relative;
  transition: 0.3s cubic-bezier(0.25,0.8,0.25,1);
}

.m-download-link__link:hover {
    color: var(   --spanish-gray);
}

.m-download-link__text {
  font-size: 16px;  
  margin: 0;
  word-break: break-word; /* 長文字換行 */
  line-height: 30px;
}

/* 下載 icon 固定右側 */
.m-download-link__link::after {
  content: "\f0ed";
  font-family: 'FontAwesome';
  font-size: 14px;
  color: var(--deck-blue);
  margin: 0 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.m-download-link__link:hover::after {
    color: var(--spanish-gray);
}


.m-horizon-d {
  margin: 40px 0;
}
 
@media (min-width: 1400px) {
  .m-horizon-d {
    margin: 60px 0;
  }
}

@media (max-width: 575.98px) {
  .m-download-link__link {
    padding: 0;
  }

  .m-cms-layout-content__item h3:nth-of-type(1) {
    margin: 1rem 0; 
  }

  .m-cms-layout-content__item h3:nth-of-type(2) {
    margin: 1rem 0; 
  }

  .m-cms-heading-type2__heading {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .m-download-link__text {
    font-size: 15px;
  }
 
}



#goTop {
  background-image: url(../images/top.png);
  display: none;            
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 20px;
  right: 30px;
  border-radius: 99rem;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
  z-index: 100;
}

#goTop:hover {
  opacity: 1;
}


@media (max-width: 575.98px) {
  #goTop {
    bottom: 65px;
    right: 10px;
    opacity: 0.9;
  } 
}