@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
  font-family: 'GenKiMin-R';
  src: url('../fonts/GenKiMin2PJP-R.otf') format("truetype");
}


:root{

    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --mitsui-blue: #005396;
    --mitsui-btn: #003f70;
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);
    --brown: #D7C5AE;

    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: .938rem;
    --fs-7: .875rem;
    --fs-8: .813rem;
    --fs-9: .75rem;
    --fs-10: .688rem;
    --fs-11: .625rem;

    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;

    --border-radius-medium: 10px;
    --border-radius-small: 5px;

    --transition-timing: .2s ease;
}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-decoration: none; */
    list-style: none;
}

button{
    background: none;
    font: inherit;
    border: none;
    cursor: pointer;
}

a { text-decoration: none; }

p,
li,
section,
header{
  font-family: 'GenKiMin-R';
  letter-spacing: 1px;
}


img, svg, button, a { display: block; }

span { display: inline-block; }

html {
    font-family: "Poppins", sans-serif;
    overscroll-behavior: contain;
}

input{
    display: block;
    width: 100%;
    font: inherit;
}


/* =======================
   通用 Container
======================= */
/* =========================
   通用 Container
========================= */
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl,
.container-3xl,
.modal-content-box {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

/* -------------------------
   手機 <576px
------------------------- */
@media (max-width: 575.98px) {
    .container,
    .container-sm,
    .modal-content-box {
        max-width: 100%;
    }
}

/* -------------------------
   ≥576px
------------------------- */
@media (min-width: 576px) {
    .container,
    .container-sm {
        max-width: 540px;
    }

    .modal-content-box {
        max-width: 600px;
    }
}

/* -------------------------
   ≥768px
------------------------- */
@media (min-width: 768px) {
    .container,
    .container-md,
    .modal-content-box {
        max-width: 750px;
    }
}

/* -------------------------
   ≥992px
------------------------- */
@media (min-width: 992px) {
    .container,
    .container-lg,
    .modal-content-box {
        max-width: 960px;
    }
}

/* -------------------------
   ≥1200px
------------------------- */
@media (min-width: 1200px) {
    .container,
    .container-xl,
    .modal-content-box {
        max-width: 1140px;
    }
}

/* -------------------------
   ≥1400px
------------------------- */
@media (min-width: 1400px) {
    .container,
    .container-xxl,
    .modal-content-box {
        max-width: 1320px;
    }
}



.row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(var(--bs-gutter-y) * -1);
	margin-right: calc(var(--bs-gutter-x) * -0.5);
	margin-left: calc(var(--bs-gutter-x) * -0.5);
}



/* Toast Wrapper  左下角顯示最新動態 */
.notification-toast {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 15px;

  background: #fff;
  border-radius: 10px;
  padding: 15px 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);

  width: 320px;
  z-index: 99;

  opacity: 1;
  transform: translateX(0);
  transition: 0.4s ease;
}

/* 關閉後淡出 */
.notification-toast.closed {
  opacity: 0;
  transform: translateX(-120%);
  pointer-events: none;
}

/* 關閉按鈕 */
.toast-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #f2f2f2;
  border: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.toast-close-btn svg {
  width: 18px;
  height: 18px;
  display: block;
}

/* 圖片 */
.toast-banner img {
  border-radius: 8px;
  object-fit: cover;
}

/* 文字區 */
.toast-detail {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.toast-message {
  font-size: 14px;
  color: var(--eerie-black);
}

.toast-title {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 5px;
}

.toast-meta {
  font-size: 13px;
  color: var(--mitsui-btn);
  padding-top: 2PX;
  letter-spacing: 0.05rem;
}

/* banner */
.carousel li {
  list-style: none;
}

.carousel {
  position: relative;
  height: 310px;
  width: 440px;
  margin: 0 auto;
  padding: 30px;
}

.banner-img {
  height: 100%;  /* 固定高度 */
  overflow: hidden;
}

.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner_title {
  width: 100%;
  display: block !important;
  position: relative;
}

.banner_title img,
.carousel__images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;    /* 避免下方 3~5px 空隙 */
}

.swiper-slide-caption{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swiper-slide-caption>h3 {
  color: var(--white);
  font-size: 24px;
  line-height: 3rem;
  letter-spacing: 0.05rem;
  white-space:nowrap;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
}


/* 1200px 以上 */
@media (min-width: 1200px) {
  .swiper-slide-caption>h3 {
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 0.5rem;
  }
}

/* 768px 以下 */
@media (max-width: 767.98px){
  .banner_title img {
    width: 100%;
    object-fit: cover; 
    display: block;
  }
}


@media (max-width: 575.95px){
  .banner_title img {
    width: 100%;
    height: 520px;
  }

  .swiper-slide-caption>h3 {
    font-size: 45px;
    font-weight: 500;
    white-space:wrap; 
    text-align: left;
    letter-spacing: 0.3rem;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
    width: 100%;

    line-height: 60px;
  }
}


/* 首頁  about*/
section {
  padding: 0 0 50px;
}

.image-box {
  width: 100%;
  height: 100%;
  overflow: hidden; 
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* 自動裁切不變形 */
  display: block;
}

.mainVisual__brand {
  padding: 50px 0 0 ;
  margin: auto;
  justify-content: center;
}

.mainVisual__box {
    margin: auto;
}

.mainVisual__box h3 {
  font-size: 28px;
  font-weight: 500;
  color: var(--black);
  letter-spacing: 0.2rem;
  padding: 15px 0;
}


.border-title {
    width: 180px;
    border-bottom: 3px solid  var(--mitsui-blue);
    margin-bottom: 20px;
}

.mainVisual__box p {
  font-size: 15px;
  font-weight: 400;
  color: var(--black);
  letter-spacing: 0.1rem;
  line-height: 1.8;
  padding: 8px 0;
  text-align: justify;

  background: 
    linear-gradient(#fff 0 0) padding-box,
    repeating-linear-gradient(
      to bottom,
      transparent 0,
      transparent calc(1.8em * 3 - 6px), /* 第1-2行 */
      rgba(0, 0, 0, 0.0001) calc(1.8em * 3) /* 拉大區間 */
    );
  background-size: 100% auto;
  background-repeat: repeat-y;
}

@media (max-width: 767.98px) { 
  section {
    padding: 0 0 40px;
  }

  .mainVisual__brand {
    padding: 40px 0 0 ;
  }

  .mainVisual__box h3 {
    font-size: 24px;
    white-space:nowrap;
    padding-top: 20px;
  }
}

@media (max-width: 575.98px) {
   section {
    padding: 0 0 20px;
  }
}

@media (max-width: 332.98px) { 
    .mainVisual__box h3 {
    font-size: 20px;
    text-align: center;
  }
}

/* 遊船 三井海洋富士號 / 2026遊船 */
.l-content__outer {
    gap: 0 16px;
}

.l-content__inner.l-content__inner--cruise:has(>:first-child.top-cruise-panel-cruiseShip) {
    margin: 0;
    padding-top: 0;
}

/* 單個 Panel */
.top-cruise-panel-cruiseShip__item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

/* 圖片容器 */
.top-cruise-panel-cruiseShip__media {
    position: relative;
    overflow: hidden;
    height: 300px;
}

/* 圖片樣式 */
.top-panel-cruiseShip__mediaItem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, filter 0.5s ease;
}

/* 底部文字色塊 */
.top-cruise-panel-cruiseShip__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; /* 與圖片同高 */
    padding: 16px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    gap: 15px;
}

.top-cruise-panel-cruiseShip__overlay h2 {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--white);
    text-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    text-align: left;
    transition: background 0.3s ease;
}

.top-cruise-panel-cruiseShip__overlay h4 {
    font-weight: 500;
    letter-spacing: 0.3rem;
    color: var(--white);
    text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    text-align: left;
    transition: background 0.3s ease;
}

@media (max-width: 767.98px) { 
  .top-cruise-panel-cruiseShip__overlay {
    gap: 6px;
  }

  .top-cruise-panel-cruiseShip__overlay h2 {
    font-size: 1.8rem;  
    text-shadow: none;   
  }

  .top-cruise-panel-cruiseShip__overlay {
    padding: 16px 30px;
  }

  .top-cruise-panel-cruiseShip__overlay h4 { 
    letter-spacing: 0.1rem;
    text-shadow: none;
  }

}

.top-cruise-panel-cruiseShip__btn {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    margin-top: 10px;
    padding: 14px 32px;
    background: var(--white);
    border: none;
    border-radius: 10px;
    color: var(--eerie-black);
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}


/* ========== Hover 效果：圖片 + overlay + 按鈕同步 ========== */
.top-cruise-panel-cruiseShip__item:hover .top-panel-cruiseShip__mediaItem {
    transform: scale(1.05);
     filter: none;
}

.top-cruise-panel-cruiseShip__item:hover .top-cruise-panel-cruiseShip__btn {
    background: #003f70;
    color: var(--white);
}

/* ========== RWD 調整高度 ========== */
@media (min-width: 768px) {
    .top-cruise-panel-cruiseShip__media {
        height: 350px;
    }
}

@media (min-width: 1200px) {
    .top-cruise-panel-cruiseShip__media {
        height: 420px;
    }
}

/*  船的介紹 頁  */
.mitsui-title {
  padding-top: 80px;
} 

.mitsui-title h2 {
  font-size: 34px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.2rem;
  padding-bottom: 10px;
  margin: auto;
}

.mitsui-title h4 {
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.05rem;
  padding-top: 10px;
  margin: auto;
}

.border-title2 {
    width: 180px;
    border-bottom: 3px solid  var(--mitsui-blue);
    margin-bottom: 20px;
    margin: auto;
}

@media (max-width: 575.98px) {
  .mitsui-title {
    padding-top: 30px;
  } 

  .mitsui-title h2 {
    font-size: 28px;
  }

}

/* ============================
   Footer 基本樣式
============================ */
footer {
    background: var(--eerie-black);
    padding: 30px 0;
    color: var(--sonic-silver);
    font-size: var(--fs-8);
    font-weight: var(--weight-500);
    text-transform: none;
    letter-spacing: 1.2px;
}

footer a {
    color: inherit;
    display: inline;
    transition: var(--transition-timing);
}

/* ============================
   Footer 導航區
============================ */
.footer-nav {
    border-bottom: 1px solid var(--onyx);
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.footer-nav .container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 20px;
}

/* ============================
   Footer 導航列表 & 項目
============================ */
.footer-nav-list {
    min-width: calc(33.33% - 15px);
    width: calc(100% - 15px);
    flex-grow: 1;
}

.footer-nav-list:not(:last-child) {
    margin-bottom: 20px;
}

.footer-nav-item {
    padding: 3px 0 6px;
}

.footer-nav-item.flex {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.mitsul-logo-2 {
  display: flex;
}

.mitsul-logo-2 img {
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* ============================
   標題 nav-title
============================ */
.nav-title {
    position: relative;
    color: var(--white);
    font-size: var(--fs-7);
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.nav-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 1px;
    background: var(--salmon-pink);
}

/* ============================
   Footer 連結
============================ */
.footer-nav-link, 
.footer-nav-item .content {
    width: max-content;
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    letter-spacing: 0.05rem;
    transition: var(--transition-timing);

    word-wrap:break-word;
}

.footer-nav-link:hover {
    color: var(--salmon-pink);
}

/* 分隔線效果 */
.footer-category-link:not(:last-child)::after {
    position: absolute;
    content: '';
    top: 3px;
    right: -10px;
    background: var(--sonic-silver);
    width: 1px;
    height: 15px;
}

/* ============================
   社群連結 social-link
============================ */
.social-link {
    display: flex;
    gap: 10px;
}

.social-link .footer-nav-link {
    font-size: 25px;
}

/* ============================
   Contact 區塊
============================ */
.footer-nav-item.flex .icon-box {
    color: var(--sonic-silver);
    font-size: 25px;
}

.footer-nav-item.flex .content {
    font-style: normal;
    margin-bottom: 5px;
}

.footer-nav-item.flex a.footer-nav-link {
    color: var(--sonic-silver);
}

/* ============================
   Footer 底部版權
============================ */
.footer-bottom {
    text-align: center;
    margin-bottom: 50px;
}

.payment-img {
    max-width: 335px;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
}

.copyright {
    color: var(--sonic-silver);
    font-size: var(--fs-8);
    font-weight: var(--weight-500);
    letter-spacing: 1.2px;
    text-transform: capitalize;
}

.copyright a {
    color: inherit;
    display: inline;
}

/* ============================
   RWD 斷點
============================ */

@media (max-width: 575.98px) {
    .footer-px{
        padding: 0 20px;;
    }
}


@media (min-width: 768px) {
    .footer-nav .container {
        row-gap: 8px;
        column-gap: 20px;
    }

    .footer-nav-list {
        min-width: calc(33.33% - 15px);
        width: calc(33.33% - 15px);
    }
}

@media (min-width: 1024px) {
  .footer-nav-list:first-child {
    flex: 0 0 60%;
  }

  .footer-nav-list:last-child {
    flex: 0 0 35%;
  }

   .footer-nav-list.follow-us {
      display: none;
    }
    .footer-bottom {
        margin-bottom: 0;
    }

    .mitsul-logo-2 img {
      width: 55%;
    }
    .footer-nav .container {
      row-gap: 50px;
    }
}

@media (min-width: 1200px) {
    footer {
        padding-top: 50px;
    }

    .footer-category {
        margin-bottom: 50px;
        padding-bottom: 35px;
    }

    .footer-nav {
        padding-bottom: 50px;
    }
}

@media (min-width: 1400px) {
    #site-footer .container {
        max-width: 1480px;
    }
}



